<h1>{{data.album}}</h1>
<form action="/albums/{{data.id}}/edit" method="POST">
    <p>
        <label>Artist:</label>
        <input type="text" name="artist" value="{{data.artist}}"/>
    </p>
    <p>    
        <label>Album:</label>
        <input type="text" name="album" value="{{data.album}}"/>
    </p>
    <p>    
        <button type="submit">Submit</button>
    </p>
</form>

<a href="/albums">Return</a>